POSTGRES_HOST=wallet-service-db        # docker-compose service name
POSTGRES_PORT=5432                     # database port
POSTGRES_USER=root                     # database user
POSTGRES_PASSWORD=root                 # database password
POSTGRES_DB=wallet-service-db          # database name

env=local                           # Environment: local, prod, etc.
http_server:
  address: "localhost"              # Server address
  port: "80"                        # Server port